body {
  background-color: #444;
  color: #efefef;
  font-size: 40px;
}

.spacer {
  margin: 3.2rem auto;
}

ul li {
  line-height: 1.2;
}

.accent {
  color: #50f49d;
}

ol {
  margin: 2.8rem auto;
}